.logo {
	display: inline-block;
	background: url('iata.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
	width: 70px;
	height: 70px;
}

._3m { background-position: -1px -0px; }
._3u { background-position: -1px -71px; }
._4h { background-position: -1px -142px; }
._4u { background-position: -1px -213px; }
._5j { background-position: -1px -284px; }
._5t { background-position: -1px -355px; }
._6a { background-position: -1px -426px; }
._7d { background-position: -1px -497px; }
._7f { background-position: -1px -568px; }
._7h { background-position: -1px -639px; }
._8t { background-position: -1px -710px; }
._8u { background-position: -1px -781px; }
._9f { background-position: -1px -852px; }
._9k { background-position: -1px -923px; }
._9w { background-position: -1px -994px; }
._a3 { background-position: -1px -1065px; }
._a5 { background-position: -1px -1136px; }
._aa { background-position: -1px -1207px; }
._ab { background-position: -1px -1278px; }
._ac { background-position: -1px -1349px; }
._ad { background-position: -1px -1420px; }
._af { background-position: -1px -1491px; }
._ah { background-position: -1px -1562px; }
._ai { background-position: -1px -1633px; }
._ak { background-position: -1px -1704px; }
._am { background-position: -1px -1775px; }
._ap { background-position: -1px -1846px; }
._ar { background-position: -1px -1917px; }
._as { background-position: -1px -1988px; }
._at { background-position: -1px -2059px; }
._av { background-position: -1px -2130px; }
._ay { background-position: -1px -2201px; }
._az { background-position: -1px -2272px; }
._b6 { background-position: -1px -2343px; }
._ba { background-position: -1px -2414px; }
._bb { background-position: -1px -2485px; }
._be { background-position: -1px -2556px; }
._bg { background-position: -1px -2627px; }
._br { background-position: -1px -2698px; }
._bt { background-position: -1px -2769px; }
._bv { background-position: -1px -2840px; }
._ca { background-position: -1px -2911px; }
._cf { background-position: -1px -2982px; }
._ci { background-position: -1px -3053px; }
._cm { background-position: -1px -3124px; }
._cx { background-position: -1px -3195px; }
._cy { background-position: -1px -3266px; }
._cz { background-position: -1px -3337px; }
._dd { background-position: -1px -3408px; }
._de { background-position: -1px -3479px; }
._dl { background-position: -1px -3550px; }
._dt { background-position: -1px -3621px; }
._dy { background-position: -1px -3692px; }
._ei { background-position: -1px -3763px; }
._ek { background-position: -1px -3834px; }
._et { background-position: -1px -3905px; }
._ey { background-position: -1px -3976px; }
._f7 { background-position: -1px -4047px; }
._f9 { background-position: -1px -4118px; }
._fb { background-position: -1px -4189px; }
._fi { background-position: -1px -4260px; }
._fj { background-position: -1px -4331px; }
._fm { background-position: -1px -4402px; }
._fr { background-position: -1px -4473px; }
._fs { background-position: -1px -4544px; }
._fy { background-position: -1px -4615px; }
._fz { background-position: -1px -4686px; }
._g3 { background-position: -1px -4757px; }
._g4 { background-position: -1px -4828px; }
._g8 { background-position: -1px -4899px; }
._g9 { background-position: -1px -4970px; }
._ga { background-position: -1px -5041px; }
._gf { background-position: -1px -5112px; }
._gl { background-position: -1px -5183px; }
._ha { background-position: -1px -5254px; }
._hg { background-position: -1px -5325px; }
._hu { background-position: -1px -5396px; }
._hx { background-position: -1px -5467px; }
._hy { background-position: -1px -5538px; }
._i2 { background-position: -1px -5609px; }
._ib { background-position: -1px -5680px; }
._j9 { background-position: -1px -5751px; }
._je { background-position: -1px -5822px; }
._jj { background-position: -1px -5893px; }
._jk { background-position: -1px -5964px; }
._jl { background-position: -1px -6035px; }
._jm { background-position: -1px -6106px; }
._jn { background-position: -1px -6177px; }
._jp { background-position: -1px -6248px; }
._jq { background-position: -1px -6319px; }
._jy { background-position: -1px -6390px; }
._ka { background-position: -1px -6461px; }
._kb { background-position: -1px -6532px; }
._kc { background-position: -1px -6603px; }
._ke { background-position: -1px -6674px; }
._kl { background-position: -1px -6745px; }
._kn { background-position: -1px -6816px; }
._kp { background-position: -1px -6887px; }
._kq { background-position: -1px -6958px; }
._ks { background-position: -1px -7029px; }
._ku { background-position: -1px -7100px; }
._kx { background-position: -1px -7171px; }
._la { background-position: -1px -7242px; }
._lc { background-position: -1px -7313px; }
._lg { background-position: -1px -7384px; }
._lh { background-position: -1px -7455px; }
._li { background-position: -1px -7526px; }
._lj { background-position: -1px -7597px; }
._ln { background-position: -1px -7668px; }
._lo { background-position: -1px -7739px; }
._lx { background-position: -1px -7810px; }
._ly { background-position: -1px -7881px; }
._lz { background-position: -1px -7952px; }
._ma { background-position: -1px -8023px; }
._md { background-position: -1px -8094px; }
._me { background-position: -1px -8165px; }
._mf { background-position: -1px -8236px; }
._mh { background-position: -1px -8307px; }
._mm { background-position: -1px -8378px; }
._mn { background-position: -1px -8449px; }
._ms { background-position: -1px -8520px; }
._mt { background-position: -1px -8591px; }
._mu { background-position: -1px -8662px; }
._mw { background-position: -1px -8733px; }
._my { background-position: -1px -8804px; }
._na { background-position: -1px -8875px; }
._nh { background-position: -1px -8946px; }
._nk { background-position: -1px -9017px; }
._nl { background-position: -1px -9088px; }
._nx { background-position: -1px -9159px; }
._nz { background-position: -1px -9230px; }
._ok { background-position: -1px -9301px; }
._os { background-position: -1px -9372px; }
._ou { background-position: -1px -9443px; }
._oz { background-position: -1px -9514px; }
._p1 { background-position: -1px -9585px; }
._pa { background-position: -1px -9656px; }
._pc { background-position: -1px -9727px; }
._pd { background-position: -1px -9798px; }
._pr { background-position: -1px -9869px; }
._ps { background-position: -1px -9940px; }
._px { background-position: -1px -10011px; }
._qf { background-position: -1px -10082px; }
._qr { background-position: -1px -10153px; }
._qs { background-position: -1px -10224px; }
._rj { background-position: -1px -10295px; }
._ro { background-position: -1px -10366px; }
._rx { background-position: -1px -10437px; }
._s7 { background-position: -1px -10508px; }
._sa { background-position: -1px -10579px; }
._sc { background-position: -1px -10650px; }
._se { background-position: -1px -10721px; }
._sg { background-position: -1px -10792px; }
._sk { background-position: -1px -10863px; }
._sn { background-position: -1px -10934px; }
._sq { background-position: -1px -11005px; }
._ss { background-position: -1px -11076px; }
._su { background-position: -1px -11147px; }
._sv { background-position: -1px -11218px; }
._sy { background-position: -1px -11289px; }
._ta { background-position: -1px -11360px; }
._tg { background-position: -1px -11431px; }
._tj { background-position: -1px -11502px; }
._tk { background-position: -1px -11573px; }
._tm { background-position: -1px -11644px; }
._tn { background-position: -1px -11715px; }
._to { background-position: -1px -11786px; }
._tp { background-position: -1px -11857px; }
._ts { background-position: -1px -11928px; }
._tu { background-position: -1px -11999px; }
._tz { background-position: -1px -12070px; }
._u2 { background-position: -1px -12141px; }
._u6 { background-position: -1px -12212px; }
._ua { background-position: -1px -12283px; }
._ul { background-position: -1px -12354px; }
._um { background-position: -1px -12425px; }
._un { background-position: -1px -12496px; }
._uo { background-position: -1px -12567px; }
._ur { background-position: -1px -12638px; }
._us { background-position: -1px -12709px; }
._uu { background-position: -1px -12780px; }
._ux { background-position: -1px -12851px; }
._v7 { background-position: -1px -12922px; }
._va { background-position: -1px -12993px; }
._vn { background-position: -1px -13064px; }
._vs { background-position: -1px -13135px; }
._vv { background-position: -1px -13206px; }
._vx { background-position: -1px -13277px; }
._vy { background-position: -1px -13348px; }
._w6 { background-position: -1px -13419px; }
._wb { background-position: -1px -13490px; }
._wf { background-position: -1px -13561px; }
._wj { background-position: -1px -13632px; }
._wn { background-position: -1px -13703px; }
._wp { background-position: -1px -13774px; }
._ws { background-position: -1px -13845px; }
._wt { background-position: -1px -13916px; }
._ww { background-position: -1px -13987px; }
._wy { background-position: -1px -14058px; }
._xq { background-position: -1px -14129px; }
._zb { background-position: -1px -14200px; }
._zh { background-position: -1px -14271px; }
._zi { background-position: -1px -14342px; }
._zk { background-position: -1px -14413px; }
._hw { background-position: -1px -14484px; width: 68px; height: 66px; }